---
import Layout from '../layouts/Layout.astro';
import { getNotesFromLastTerm } from '../service/get-notes-from-last-term';

const response = await getNotesFromLastTerm()
const isLastElement = (index: number) => index === response.length - 1

---

<Layout title="🎓 Uni class notes">
	<main class="flex justify-center items-center gap-3 flex-col h-screen min-w-96 max-w-[568px] mx-auto px-6 text-white">

		<h1 class="text-xl font-semibold mb-4">
			Class notes
		</h1>

		{
			response.map((note, index) => (
				<>
					<div class="flex justify-between items-center gap-4 w-full px-3 py-2 overflow-auto">
						<div class="flex items-center justify-between">
							<span>
								📄
							</span>
							
							<a href={note.public_url} class="flex-1 underline font-bold text-nowrap mr-5 p-1 rounded-sm hover:bg-gray-800">
								{note.title}
							</a>
						</div>

						<p class="bg-purple-950 p-1 rounded-sm truncate min-w-28" title={note.subject}>
							{note.subject}
						</p>

						<p class="bg-slate-600 p-1 rounded-sm text-nowrap">
							{note.term}
						</p>

						<p>
							{note.createdAt}
						</p>
					</div>
					{
						!isLastElement(index) && <hr class="border border-gray-600 w-11/12" />
					}
				</>
			))
		}

	</main>
</Layout>
